<h1>MakersBnB</h1>

<%# <% @properties.each do %>

  <%# <%= "#{property.description}" %> %>
  <%# <br> %>
  <%# <br> %>
  <%# <%= "#{property.contact}" %> %>

<%# <% end %> %> %>

<%= $house %>
<%= $contact %>

<br>
<br>

<form action="/list_property" method="get">
  <input type='submit' value='List your property'>
</form>