<h2>List your property:</h2>

<form action="/list_property/listed" method="post">
  <input type='text' name='property_description' placeholder="Describe your property here">
  <input type='text' name='contact_details' placeholder="Enter your contact details here">
  <input type='submit' value='Submit' name="List your property!">
</form>