<h1>MakersBnB</h1>

<% @properties.each do |property| %>

  <%= property.description%> %>
  <br> 
  <br> 
  <%= property.contact %>
  <br> 
  <br>
  <img src="<%= property.picture_url %>" />
  <a href="<%= property.picture_url %>" />

<% end %>

<br>
<br>

<form action ="login" method="get">
  <input type="submit" value="login">
</form>

<form action="/properties/new" method="get">
  <input type='submit' value='List your property'>
</form>
