<!DOCTYPE html>
<html>
  <head>
    <meta name='viewport' content='widht=devide-width,initial-scale=1'>
    <title>MakersBnB</title>
    <link href='/styles.css' rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <a href='/properties'><img src="/MakersBnB_full.png" /></a>
      <form action="/sessions/destroy" method="post">
         <input id='sign_out_button' type="submit" value="Sign out" />
      </form>
      <form action="/properties/new" method="get">
        <input id='list_property_button' type='submit' value='List your property'>
      </form>
    </header>

  <main>
    <h1>We make-a the bed, we make-a the breakfast</h1>
    <h2>
      <%= flash[:notice] %>
    </h2>
  
  <div class='container'>
    <% @properties.each do |property| %>
      <div class='property_tile'>
        <div class='image_container'><img src="<%= property.picture_url%>"/></div>
        <h2><%= property.description%></h2>
        <h2>£<%= property.price_per_night %></h2>
      </div>
    <% end %>
  </div>

    </main>
  </body>

</html>