<form action="/properties" method="post">
  <input type="text" name="description" placeholder="Description of your property."/>
  <input type="text" name="contact" placeholder="Your contact details."/>
  <input type="text" name="picture_url" placeholder="URL link to image of property."/>
  <input type='submit' value="Submit" />
</form>