<title> SignUp | MakersBnB </title>

<form action='/users' method='post'>
<label>
Name
<br>
  <input type='text' name='name' required>
</label>
<br>
<label>
Email Address
<br> 
  <input type='email' name='email' required>
</label>
<br>
<label>
Password
<br>
  <input type='password' name='password' required>
 </label> 
 <p></p>
  <input type='submit' value='Submit'>
</form>
  
  